<div data-controller="toggle">
  <div class="row g-3 align-items-center">
    <!-- Image Section -->
    <div class="col-12 col-md-6 d-flex justify-content-center">
      <div class="wrap-img border border-3 border-dark rounded-5 p-3 bg-success">
        <%= cl_image_tag pokemon.image_url,
                         width: 280,
                         height: 280,
                         gravity: :face,
                         crop: :thumb,
                         class: "img-fluid img-poke" %>
      </div>
    </div>

    <!-- Card Section -->
    <div class="col-12 col-md-6 d-flex justify-content-center">
      <div class="card border-3 border-dark rounded-5 w-100 bg-success" style="max-width: 24rem;">
        <div class="card-body">
          <h5 class="card-title text-center text-md-start">
            <strong class="fs-2"><%= pokemon.name.upcase %></strong>
          </h5>
          <p class="card-text fs-4">
            <strong>Price per day: </strong><%= pokemon.price_per_day %>$
          </p>
        </div>

        <!-- List Section -->
        <ul class="list-group list-group-flush bg-pale-green">
          <li class="list-group-item fs-5 bg-pale-green"><strong>Level:</strong> <%= pokemon.level %></li>
          <li class="list-group-item fs-5 bg-pale-green"><strong>Main power: </strong><%= pokemon.main_power %></li>
          <li class="list-group-item fs-5 bg-pale-green"><strong>Age: </strong><%= pokemon.age %></li>
          <li class="list-group-item fs-5 bg-pale-green"><strong>Sexe: </strong><%= pokemon.sexe %></li>
          <li class="list-group-item fs-5 bg-pale-green"><strong>Type: </strong><%= pokemon.main_type %></li>
        </ul>

        <!-- Card Footer Actions -->
        <div class="card-body d-flex justify-content-around">
          <!-- Back Link -->
          <%= link_to pokemons_path, class: "bounce-on-hover text-decoration-none text-reset" do %>
            <%= render "components/logo-ball" %>
            <p>See all!</p>
          <% end %>

          <!-- Toggle Button -->
          <div class="bounce-on-hover">
            <%= render "components/logo-ball" %>
            <p>Rent me!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Togglable Form -->
  <div data-toggle-target="togglableElement" class="d-none d-block">
    <%= render "components/form-renting", pokemon: pokemon, renting: @renting %>
  </div>
</div>
