<h1>Hello young <%= current_user.first_name %></h1>

<%= render "components/background", pokemons: @pokemons %>



<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: pokemons_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-3",
            placeholder: "Type a Pokemon name or type"
        %>
      <%= link_to type: "submit" do %>
        <%= render "components/logo-ball", style: "background-color: rgb(239 0 23 / 75%)"%>
      <% end %>
    <% end %>
  </div>
</div>


<h2>Now Availables!</h2>
<%= render "components/card-poke-index", pokemons: @pokemons %>
