<!DOCTYPE html>
<html>
  <head>
    <title>PokeBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white">
    <%= render "components/navbar" %>
    <div class="mt-3 mb-3">
      <div class="container bg-danger border border-4 border-dark rounded-4 p-3" style="height: 100%;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
